:root{
    --cor-principal: #EA1C81;
    --cor-topo: #D8F1FB; 
    --cor-preta: black;
    --cor-branca: #fff; 
    --cor-brancaazul:#FAFBFF;
    --padding: 25px;
}
/* tirar a margem e espaçamento*/
*{
    margin: 0px; /*tira a margem*/
    padding: 0px; /*tira espaçamento*/
    transition: all 1s; /*todos os meus componentes terão transição*/
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /*bordas dos botões*/
}

#header{
    background-color: var(--cor-topo);  /*mudar a cor dele*/
    display: flex; /*deixar a escrita ao lado*/
    justify-content: space-between; /*colocar espaço entre a logo e a escrita*/
    padding: 20px; /*espaçamento interno*/
    align-items: center; /* alinhar o eixo Y*/

}
#header nav a{
    text-decoration: none; /*tira a sublimação embaixo da escrita*/
    color: var(--cor-preta); /*muda cor da letra*/
}

#header nav a:hover{
    background-color: var(--cor-principal); /*quando passar o mouse sobre a palavra ela fique grifada com alguma cor*/
    padding: 15px; /*espaçamento interno*/
    color: var(--cor-branca); /* quando passar o mouse em cima, a letra mude de cor*/
    border-radius: 25px; /* bordas arredondadas*/
    /* font-weight: 700; - mudar a grossura da fonte*/
}   /* font-weigth: bold; - deixar a escritaem negrito*/

.marginLateral{
    margin: 0px 20px; /*espaçamento entre as palavras*/
}

main #banner{
    background-image: url(../img/Banner.png); /*/ colocando uma imagem de fundo*/
    height: calc(100vh - 116px); /* fazer com que a imagem preencha a tela toda*/
    background-repeat: no-repeat; 
    background-position: center center; /*centralizar eixo x e y*/
    background-size: cover; /* vai tentar preencher a tela toda*/
    display: flex; /* torna flexível*/
    flex-direction: column; /*deixar a escrita em forma da coluna*/
    justify-content: center; /* eixo y*/
    align-items: center; /*eixo x*/
    color: var(--cor-principal); /*muda a cor da escrita*/
}

main #banner button{
    background-color: var(--cor-principal); /*edição do botão*/
    color: var(--cor-branca);
    padding: 15px;
    border: none;
    border-radius: 20px;
}

main #banner button{
    cursor: pointer; /*mudar o cursor, virar uma mãozinha*/
}

main #bemvindo{
    background-color: var(--cor-branca);
    display: grid; /*divisões da tela*/
    grid-template-columns: 1fr 1fr; /* repeat = repete a quantidade de fr ( 2, 1fr) - conta
    de multiplicação*/
    gap: 30px; /*espaço entre os itens do grid*/
    padding: 50px
    ;
}

main #bemvindo #bemvindo-boasvindas h3{
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;
    color: var(--cor-principal);
    margin-bottom: 10px;
}

main #bemvindo p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px; /* tamanho da font*/
    line-height: 26px;

}

main #beneficios{
    background-color: var(--cor-brancaazul);
    text-align: center;
}


main #beneficios #beneficios-nossobeneficio{
    
    padding: 15px;
    text-align: center; /* centralizar texto no centro*/
    color: var(--cor-principal);

}

main #beneficios{
    color: var(--cor-principal);
}


main #beneficios #beneficos-servicos{
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

main #form #form-texto{
    text-align: center;
}

main #form #form-formulario form,
main #formulario #formulario-formulario form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

main #form #form-formulario form input,
.formulario .formulario-form form input,
main #formulario #formulario-formulario form input{
    display: block; /* deixar em forma de bloco*/
    padding: 8px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--cor-principal);
    border-radius: 10px;
    width: 350px;
    margin-bottom: 10px;
}

main #form #form-formulario form button,
.formulario .formulario-form form button,
main #formulario #formulario-formulario form button{
    padding: 8px;
    border: none;
    background-color: var(--cor-principal);
    color: var(--cor-branca);
    border-radius: 10px;
    width: 380px;
    cursor: pointer;
    display: block;
}





.cadastro{
    margin-top: 10px;
}

.cadastro a{
    color: var(--cor-branca);
    text-decoration: none;
}

.formulario .formulario-form form a{
    color: var(--cor-preta);
    text-decoration: none;
    text-align: center;
}

main #form #form-formulario{
    background-image: url(../img/dog.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.formulario{
    height: calc(100vh - 116px);
}

footer{
    background-color: var(--cor-topo);
    text-align: center;
}


.cadastro_link {
    display: block;
    padding-top: 17px;
}

/*=======================================================================
    página de consultas css
=======================================================================*/

.pag_consulta main #formulario #formulario-texto h3{
    padding: 25px;
    width: 350px;
}



.pag_consulta main #formulario #formulario-formulario form{
    display: block;
}

.pag_consulta main #formulario #formulario-formulario form .grid-3 {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    gap: 20px;
}

.pag_consulta main #formulario #formulario-formulario form input,
.pag_consulta main #formulario #formulario-formulario form textarea {
    width: 100%;
    display: block;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.19);
    box-shadow: 0px 8px 8px -5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.pag_consulta main #formulario form {
    padding: 30px;
}

div.formulario-formulario-button{
    display: flex;
    width: 340px;
}

.buttonsalvar{
    background-color: #1CF365 !important;
}

.buttoncancelar{
    background-color: #DF2F2F !important;
    margin: 0px 20px;
}

.formulario-formulario-button{
    margin-top: 20px;
}